@import "form.css";
@import "list.css";

body {
    background-color: #EFEDED;
    max-width: 1200px;
    margin: auto;
}

main {
    margin: 8px;
}

header h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.footer {
    text-align: center;
}

.hr-ul {
    padding: 0em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.hr-ul li {
    margin-left: 1em;
    margin-right: 1em;
}

.body {
    margin: 16px;
}