@import "form.css";

body {
    background-color: #E2E2E2;
}

header h1 {
    text-align: center;
}

.hr-ul {
    padding: 0em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.hr-ul li {
    padding-left: 1em;
    padding-right: 1em;
}
